* {
  box-sizing: border-box;
}

@font-face {
  font-family: "95";
  src: url(/assets/w95fa.woff);
}

@media only screen and (max-width: 800px) {
  .menu_blocks {
    display: inline-block;
    width: 90%;
  }
}

/*
Text
*/

a {
  color: #00FF00;
}

h4 {
  text-decoration: underline;
}

.bigtext {
  font-size: 200%;
  font-weight: bold;
  font-family: Impact;
  color: red;
}

/*
Divs and Formatting
*/

body {
  background-color: #000000;
  background-image: url("../assets/background.gif");
  background-repeat: repeat;
  text-align: center;
  color: #bfbfbf;
  font-family: "95";
}

.footer {
  padding: 15px;
  font-size: 14px;
}

.container {
  width:90%;
  padding:30px;
  margin:10px auto 10px auto;
  background-color: #003300;
  overflow: hidden;
  font-family: "95";
  font-size: 12pt;
  text-align: center;
  color: #ddffdd;
}

.container.blog {
  text-align: left;
}

.container a{
  font-family: Arial, sans-serif;
  font-family: "95";
  text-decoration: none;
}

.container a:hover{
  color:#003300;
  background-color:#ddffdd;
}

.container p {
  font-family: Arial, sans-serif;
}

img {
  display:inline;
}

ul {
  text-align: left;
}
