* {
  box-sizing: border-box;
}

@font-face {
  font-family: "95";
  src: url(/assets/w95fa.woff);
}

/*
Text
*/

a {
  color: #00FF00;
}

h4 {
  text-decoration: underline;
}

.bigtext {
  font-size: 200%;
  font-weight: bold;
  font-family: Impact;
  color: red;
}

/*
Divs and Formatting
*/

body {
  background-color: #000000;
  text-align: center;
  color: #bfbfbf;
  font-family: "95";
}

.footer {
  padding: 15px;
  font-size: 14px;
}

.container {
  width:90%;
  padding:30px;
  margin:10px auto 10px auto;
  background-color: #003300;
  overflow: hidden;
  font-family: "95";
  font-size: 12pt;
  text-align: center;
  color: #ddffdd;
}

.container a{
  text-decoration: none;
}

.container a:hover{
  color:#003300;
  background-color:#ddffdd;
}

button {
  background-color: #000000;
  font-family: "Courier New";
  font-size: 18px;
  width: 30%;
  color: #bfbfbf;
  padding: 5px;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}

button:hover {
  color: #000000;
  background-color: #bfbfbf;
}

ul {
  text-align: left;
}
